* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    overflow:hidden;
}

.main-width {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

.bg-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    /* opacity: 0.8; */
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}

section .hero {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5) ,rgba(0, 0, 0, 0.5)), url(./); */
    background-size: cover;
    background-position: center;
    position: relative;
}

/* section::before {
    content:'';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#55076d,#000);
    z-index: 1000;
} */

header {
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo i {
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #ff00ff9d;
    color: #ff00ff9d;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

nav .hamb {
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: transparent;
    position: absolute;
    cursor: pointer;
    display: none;
}

nav .hamb span {
    display: block;
    background: #ff00ff9d;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform, opacity;
}

nav .hamb span:nth-child(2) {
    margin: 7px 0px;
}

nav .nav-list {
    list-style: none;
}

nav .nav-list li {
    display: inline-block;
}

nav .nav-list li a {
    display: inline-block;
    color: #eee;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    z-index: 100;
}

nav .nav-list li:not(:last-child) a:hover {
    color: #c419da7d;
    transition: .4s;
}

nav .nav-list li.btn a {
    display: inline-block;
    background: transparent;
    border: 2px solid #ff00ff9d;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: #fff;
    font-weight: 500;
}

nav .nav-list li.btn:hover a {
    background: #ff00ff9d;
    color: #fff;
    border: 2px solid transparent;
    transition: .4s;
}

.container {
    padding-top: 180px;
}

.container .hero-text {
    margin-bottom: 40px;
}

.container .hero-text h1 {
    color: #fff;
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;
}

span {
    color: #ff00ff9d;
}

.container .hero-text h3 {
    color: #eee;
    font-weight: 400;
    font-size: 17px;
}

.container .hero-text p {
    width: 440px;
    max-width: 100%;
    color: #eee;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.social a {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 35px;
    position: relative;
    z-index: 100;
}

.social a:hover {
    transform: scale(1.1);
    background: #ff00ff9d;
}

.container .hero-text button {
    color: #eee;
    background: #ff00ff9d;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    border: 2px solid #ff00ff9d;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.container .hero-text button:hover {
    background: transparent;
    border: 2px solid #ff00ff9d;
    color: #ff00ff9d;
    transition: .4s;
}

.bottom {
    margin-top: 243px;
    padding-bottom: 40px;
}

.bottom p {
    color: #eee;
    letter-spacing: 2px;
    font-size: 15px;
}

/* RESPONSIVE */

@media screen and (max-width: 930px) {
    nav .hamb {
        display: initial;
    }
    .click {
        top: 46px;
    }
    .click span {
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child {
        transform: rotate(-40deg);
    }
    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child {
        transform: rotate(40deg);
        top: 0;
    }
    nav .nav-list {
        position: absolute;
        top: 90px;
        right: -64%;
        bottom: 0;
        width: 50%;
        height: 50%;
        background: #ff00ff5b;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 10px;
    }
    nav .nav-list li {
        display: block;
    }
    nav .nav-list li a {
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-left: 0;
        margin-bottom: 40px;
    }
    nav .nav-list li.btn a {
        position: absolute;
        bottom: 0%;
        right: 20%;
        left: 20%;
        padding: 7px 15px;
        font-size: 14px;
    }
    nav .nav-list.open {
        right: 0;
    }
}

/* ABOUT ME */

.container-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background: transparent;
    flex-wrap: wrap;
    padding: 150px 0;
    }
    
    .container-sec .box {
        position: relative;
        width: 320px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 30px;
        transition: 0.5s;
    }
    
    .container-sec .box::before {
        content:'';
        position: absolute;
        top: 0;
        left: 50px;
        width: 50%;
        height: 100%;
        background: #fff;
        border-radius: 8px;
        transform: skewX(15deg);
        transition: 0.5s;
    }
    
    .container-sec .box::after {
        content:'';
        position: absolute;
        top: 0;
        left: 50px;
        width: 50%;
        height: 100%;
        background: #fff;
        border-radius: 8px;
        transform: skewX(15deg);
        transition: 0.5s;
        filter: blur(30px);
        transition: 0.5s;
    }
    
    .container-sec .box:hover::before,
    .container-sec .box:hover:after {
        transform: skewX(0deg);
        left: 20px;
        width: calc(100% - 90px);
    }
    
    .container-sec .box:nth-child(1)::before,
    .container-sec .box:nth-child(1):after {
        background: linear-gradient(315deg,#7104c6, #e12dde);
    }
    
    .container-sec .box:nth-child(2)::before,
    .container-sec .box:nth-child(2):after {
        background: linear-gradient(315deg,#e12dde, #7104c6);
    }
    
    .container-sec .box:nth-child(3)::before,
    .container-sec .box:nth-child(3):after {
        background: linear-gradient(315deg,#7104c6, #e12dde);
    }
    
    .container-sec .box span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        pointer-events: none;
    }
    
    .container-sec .box span::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: 0.5s;
        animation: animate 2s ease-in-out infinite;
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }
    
    .container-sec .box:hover span::before {
        top: -50px;
        left: 50px;
        width: 100px;
        height: 100px;
        opacity: 1;
    }
    
    .container-sec .box span::after {
        content:'';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: 0.5s;
        animation: animate 2s ease-in-out infinite;
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        animation-delay: -1s;
    }
    
    .container-sec .box:hover span::after {
        bottom: -50px;
        right: 50px;
        width: 100px;
        height: 100px;
        opacity: 1;
    }
    
    .container-sec .box .content {
        position: relative;
        left: 0;
        padding: 20px 40px;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 5px 15px rgba(0,0,0,01);
        border-radius: 8px;
        backdrop-filter: blur(10px);
        transition: 0.5s;
        color: #fff;
        z-index: 1;
    }

    .container-sec .box:hover .content {
        left: -25px;
        padding: 60px 40px;
    }

    .container-sec .box .content h2 {
        font-size: 2em;
        color:#fff;
        margin-bottom: 10px;
    }
    
    .container-sec .box .content p {
        font-size: 1.1em;
        margin-bottom: 10px;
        line-height: 1.4em;
    }

    .container-sec .box .content a {
        display: inline-block;
        font-size: 1.1em;
        color: #7104c6;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: 700;
        margin-top: 5px;
    }
    

    @keyframes animate {
        0%,100%
    {
        transform: translateY(10px);
    }
    50%
    {
        transform: translateY(-10px);
    }
    
}

/* WORKS */

.project-section {
    width: 100%;
    min-width: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
}

.project-heading {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #b024dd 29%,
      #44107a 67%,
      #240044 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: flex;
    justify-content: center;
        font-size: 80px;
        
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

